.card-img-top{
    max-height: 220px;
    width: 100%;
  }
.row{
    margin-bottom: 30px;
}
.card{
    margin-left: 20px;
    margin-right: 20px;
}
#registerError, #loginError{
    display: none;
}

#allPostsP1,#progBar25,#progBar50,#progBar75,#progBar100{
    display: none;
}

#allPosts3Holder,#allPosts2Holder{
    display: none;
}

#progBar0{
    width: 0;
    display: block;
}
#progBar25{
    width: 25%;
}
#progBar50{
    width: 50%;
}
#progBar75{
    width: 75%;
}
#progBar100{
    width: 100%;
}